@import '../../styles/variables.scss';

.btn {
  font-size: 0.8rem;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 20px;
  height: 32px;
  border: 0px;
  color: #fff;
  background: $clr-primary;
  // transition: background 0.25s ease-in-out;
  &:hover {
    background: $clr-primary-darker;
  }
  cursor: pointer;
}
