@import '../../styles/variables.scss';

.articleWrapper {
  max-width: 100%;
  margin-top: 20px;
  background: #fff;
  flex: 1;
  padding-bottom: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  // padding-bottom: ;
  .poster_container {
    width: 100%;
    position: relative;
    // height: ;
    img {
      // top: 0;
      // left: 0;
      // right: 0;
      // position: absolute;
      object-fit: contain;
      width: 100%;
    }
    // height: calc(width/2);
    // height: 300px;
    // background: lightblue;
  }
  // .title {
  //   h1 {
  //     font-size: 3rem;
  //     font-weight: 800;
  //   }
  // }
}

.article_content {
  padding: 2rem 4rem;
  font-size: 1.1rem;
  word-break: break-all;
  max-width: 100%;
  p{
    font-size: 1em;

    // font-size: 1.25rem;
    a{
      text-decoration: none;
      color: #0269c8;
      border-bottom: 1px solid #d1e9ff;
    }
    code {
      background: #dadde1;
      color: #1c1e21;
      border-radius: 3px;
      padding: 2px 4px;
      font-size: 0.9rem;
    }
  }

  p+p{
    margin-top: 20px;
  }

  code {
    
    font-size: 1rem;
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  }

  pre {
    background: rgb(40, 44, 52);
    // background: #1b1f230d;
    // background: #f6f6f6;
    color: #fff;
    margin: .8em 0;
    padding: 0 0.5em;
    // margin: 16px;
    border-radius: 8px;
    max-width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    } 
    // overflow: hidden;
    // word-break: break-all;
  }

  h1 {
    font-size: 2.4em;
    margin: 0 0 16px;
    font-weight: 800;
  }
  h2 {
    // padding: 1em 0;
    font-size: 1.5em;
    padding-bottom: 0.6em;
  }
  h2::before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ececec;
    padding-top: 1.2em;
    margin-bottom: 0.6em;
  }
  h3{
    padding: 0.8em 0;
  }
  h4 {
    padding: 0.5em 0;
  }
  h5 {
    padding: 0.3em 0;
  }
  img {
    max-width: 100%;
  }
  ul {
    margin-left: 28px;
  }
  ol {
    margin-left: 28px;
  }
  blockquote {
    margin: 1rem 0;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    color: #212121;
    font-size: 1rem;
    border-left: 0.3rem solid $clr-primary;
    background: #f6f6f6;
  }
}

.code_heightlight {
  background: rgb(40, 44, 52);
  color: #fff;

}

@media (max-width: 1280px) {
  .article_content {
    font-size: 1.15rem;
  }
  
}

@media (max-width: 1000px) {
  .article_content {
    font-size: 1.125rem;
    padding: 2rem 3rem;
  }
}
@media (max-width: 768px) {
  .articleWrapper {
    margin-top: 0;
  }
  .article_content {
    font-size: 1rem;
    padding: 0 1.25rem;
    code {
      font-size: 0.9rem;
    }
  }
}