.articleWrapper {
  background: #fff;
  flex: 1;
  .poster_container {
    width: 100%;
    position: relative;
    // height: ;
    img {
      // top: 0;
      // left: 0;
      // right: 0;
      // position: absolute;
      object-fit: contain;
      width: 100%;
    }
    // height: calc(width/2);
    // height: 300px;
    // background: lightblue;
  }
  // .title {
  //   h1 {
  //     font-size: 3rem;
  //     font-weight: 800;
  //   }
  // }
}

.article_content {
  padding: 2rem 4rem;
  font-size: 1.25rem;
  p{
    font-size: 1em;
    // font-size: 1.25rem;
  }

  p+p{
    margin-top: 20px;
  }

  code {
    font-size: 1rem;
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  }

  pre {
    background: rgb(40, 44, 52);
    color: #fff;
    margin: 0.5em 0;
    padding: 0 0.5em;
    // margin: 16px;
    border-radius: 8px;
  }

  h1 {
    font-size: 2.4em;
    margin: 0 0 16px;
    font-weight: 800;
  }
  h2 {
    padding: 1em 0;
    font-size: 1.5em;
  }
}

.code_heightlight {
  background: rgb(40, 44, 52);
  color: #fff;

}

@media (max-width: 1280px) {
  .article_content {
    font-size: 1.125rem;
  }
  
}

@media (max-width: 1000px) {
  .article_content {
    font-size: 1.125rem;
    padding: 2rem 3rem;
  }
}
@media (max-width: 768px) {
  .article_content {
    font-size: 1rem;
    padding: 0 1.25rem;
  }
}