// $clr-primary: hsl(240, 40%, 50%);

// $clr-primary: rgba(0, 118, 255, 0.9);

$clr-primary: hsl(235, 72%, 55%);

$clr-primary-darker: hsl(235, 58%, 47%);

$clr-searchbar-bg: #EDF2F7;

$width-app: 1024px;

$header-height: 56px;

$clr-text-gray: #64707d;