@import '../../styles/variables.scss';

.mainWrapper {
  // margin-top: 80px;
  padding-top: 56px;
  // margin-top: 30px;
  max-width: $width-app;
  margin: 0 auto;
  // background: #fff;
  display: flex;
  min-height: 100vh;
  .main_inner {
    // background: #fff;
    // margin-top: 200px;
    width: 100%;
  }
}

.headerWrapper {
  z-index: 1000;
  position: fixed;

}


.mask{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  display: none;
}

.sidebarWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 73vw;
  height: 100vh;
  background: #f9f9f9;
  z-index: 3000;
  transition: transform 0.2s ease;
  transform: translateX(-100%);
  // padding: 0 8px;
}

.sidebar_header {
  padding: 0 8px;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0,  0, 0.06);
}

.sidebar_main{
  padding: 16px 8px;
}

.sidebar_open {
  transform: translateX(0);
}

.mask_open {
  display: block;
}

@media (max-width: 900px) {
  .mainWrapper {
    // padding-top: 0;
  }
}