@import '../../styles/variables.scss';

.mainWrapper {
  // margin-top: 80px;
  padding-top: 56px;
  // margin-top: 30px;
  max-width: $width-app;
  margin: 0 auto;
  // background: #fff;
  display: flex;
  min-height: 100vh;
  .main_inner {
    // background: #fff;
    // margin-top: 200px;
    width: 100%;
  }
}

.headerWrapper {
  z-index: 1000;
  position: fixed;

}

@media (max-width: 900px) {
  .mainWrapper {
    // padding-top: 0;
  }
}