.logo_a {
  height: 100%;
  h1 {
    display: none;
  }
  img {
    height: 40px;
    // width: 40px;
  }
  // margin-right: auto;
  transform: scale(1.2);
}
.logoWrapper {
  margin-right: auto;
  margin-top: auto;
}