.articleWrapper {
  display: flex;
  // flex: 1;
  // width: 100%;
  height: 100%;
  // background: #fff;
}

.sidebarWrapper {
  min-width: 280px;
  
}
.fixedWrapper {
  position: fixed;
  top: 80px;
}
// .sidebarWrapper {
//   width: 300px;
  
//   padding-left: 20px;
  
// }

.scrollBtn {
  // a{
  //   display: inline-block;
  //   width: 100%;
  //   height: 100%;
  //   // cursor: pointer;
  // }
  width: 40px;
  height: 40px;
  // background: lightcoral;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  background: #fff;
  border-radius: 20 px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  // box-shadow: ;
  // border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px){
  .sidebarWrapper{
    display: none;
  }
}
@media (max-width: 780px) {
  .scrollBtn {
    right: 20px;
  }
}